<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Navegación</h2>
                    <ul class="list-unstyled">
                        <li><a href=""><span class="ion-ios-arrow-round-forward mr-2"></span>Inicio</a></li>
                        <li><a href="/#servicios_"><span class="ion-ios-arrow-round-forward mr-2"></span>Servicios</a></li>
                        <li><a href="/temas-interes"><span class="ion-ios-arrow-round-forward mr-2"></span>Temas de Interés</a></li>
                        <li><a href="/trabaja-nosotros"><span class="ion-ios-arrow-round-forward mr-2"></span>Trabaja con Nosotros</a></li>
                        <li><a href="/linea"><span class="ion-ios-arrow-round-forward mr-2"></span>Servicios en Línea</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Soluciones</h2>
                    <ul class="list-unstyled">
                        <li><a><span class="ion-ios-arrow-round-forward mr-2"></span>Contables</a></li>
                        <li><a><span class="ion-ios-arrow-round-forward mr-2"></span>Tributarias</a></li>
                        <li><a><span class="ion-ios-arrow-round-forward mr-2"></span>Administrativas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">¿Tiene alguna pregunta?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon icon-map-marker"></span>
                                <span class="text">
                                    Jorge Washington E4-59 y Amazonas Edif. Rocafuerte, Of. 5, sector C.C.Espiral
                                </span>
                            </li>
                            <li>
                                <a href="tel:+0997607812">
                                    <span class="icon icon-phone"></span>
                                    <span class="text">
                                        +593 997607812
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@adcontur.com">
                                    <span class="icon icon-envelope"></span>
                                    <span class="text">
                                        info@adcontur.com
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li><a href="https://www.instagram.com/adcontur_acp/" target="_blank"><span
                            class="icon-instagram"></span></a></li>                      
                        <li><a href="https://www.facebook.com/Adcontur.ACP" target="_blank"><span
                            class="icon-facebook"></span></a></li>
                         <li><a href="https://twitter.com/adcontur_acp" target="_blank"><span
                            class="icon-twitter"></span></a></li>
                     
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    Todos los derechos reservados | Desarrollado por Mario Palomo - Marco Vega
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="detalleWp" class="flotante-detalle">
    <div class="wp-head">
        <img src="assets/images/wp.png" alt="" width="23"> &nbsp; Inicia una conversación
    </div>
    <div class="wp-body">
        <div style="padding-bottom: 5px;">
            <small>El equipo generalmente responde inmediatamente.</small>
        </div>
        <a href="https://web.whatsapp.com/send?phone=593979212157&amp;text=Hola, necesito información sobre los servicios que ofrece."
            target="_blank">
            <div class="wp-card">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/wp-card-l.png" width="35">
                    </div>
                    <div class="col-md-8">
                        Sylvia Barros
                    </div>
                    <div class="col-md-2">
                        <img src="assets/images/wp-card.png" width="20">
                    </div>
                </div>
            </div>
        </a>
        <br>
    </div>
</div>
<div id="btnWp" class='flotante'>
    <img src='assets/images/whatsapp.webp' width="60" />
</div>
<div id="btnWpClose" class='flotante'>
    <img src='assets/images/wp-close.png' width="60" />
</div>